/*Team Apples: Abdal Abir, Jawad Sifat, Hua Huang
IntroCS pd6 sec10
HW05: Stuylin'
2021-02-24*/

h1 {
	font: 3em "Times New Roman";
}
li { color: green;}

	a {color: purple;}
	p {color: orange;}
	h3 {color: red;}
	
